[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cooked-input = "*"
requests = "*"

[dev-packages]
black = "*"
pre-commit = "*"
types-requests = "*"
flake8 = "*"

[requires]
python_version = "3.10"
